/* ### PORTFOLIO SECTION (PROJECTS) ### */

.projects-section {
    height: auto;
    width: 900px;
    margin: auto;
}

.carousel-item {
    padding: 7% 6%;
    flex-direction: row;
}

.carousel-item-inner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.carousel-item-inner img {
    width: 300px;
    border-radius: 20px;
    border: 1px solid white;
}

.project-explain {
    text-align: start;
    padding: 30px;
    width: 50%;
}

.carousel-item-inner h3 {
    font-weight: 550;
}

.carousel-item-inner p {
    color: #6A797C;
    font-size: 17px;
    line-height: 1.8;
}

.carousel-buttons i {
    color: hsl(190deg 69% 61%);
    font-size: 30px;
}

.projects-section-btn {
    color: white;
    padding: 12px;
    background-color: #57C9E0;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 20px;
}

/* .projects-section-btn:focus {
    color: white;
    padding: 12px;
    background-color: #57C9E0;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 20px; */

/* } */

.carousel-buttons {
    margin: 0;
    padding: 0;
    width: 50px;
}

@media screen and (max-width:1000px) {
    .projects-section {
        width: 100%;
    }

    .carousel-item-inner p {
        font-size: 20px;
        padding: 0;
    }     
}

@media screen and (max-width:760px) {
    .carousel-item-inner {
        flex-direction: column;
    }
    
    .project-explain {
        padding-top: 50px;
        width: 100%;
    }
    
    .carousel-item-inner p {
        font-size: 16px;
    }
}

@media screen and (max-width: 425px) {
    .carousel-item-inner img {
        width: 250px;
    }
}

/* INDICATOR */
.carousel-indicators {
    width: 300px;
    height: 20px;
    /* background-color: red; */
    color: #57C9E0;
    margin: auto;
    /* z-index: 999;
    overflow: hidden; */
}

.carousel-indicators li {
    /* border-radius: 100%; */
    display: inline-block;
    color: red;
    /* background-color: tan; */

}