/* ==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: #162427;
    color: #EEFAFC;
}

.section {
    font-size: 1.5rem;
    padding: 100px 0;
}

 .section-heading {
    font-size: 2.3rem;
    font-weight: 700;
    text-align: center;
}

.second-heading {
    text-align: center;
    color: #6A797C;
    font-weight: 200;
}

.btn:hover {
    color: #EEFAFC;
    background-color: #4fb6cb;
}

.btn:focus {
    color: #EEFAFC;
    background-color: #57C9E0;

}

@media screen and (max-width: 765px) {
    .section-heading {
        font-size: 30px;
    }

    .second-heading {
        font-size: 13px;
    }
}